.obe3{
  margin: 0;
  padding: 0;
  background-color: white;
  font: 12pt "Tahoma";
}

.obe3 .title{

  
  text-align: center;
  margin-top: 0px
  
}

.obe3 .obe3body{
  margin: 0;
  padding: 0;
  background-color: rgb(207, 200, 200);
  font: 12pt "Tahoma";
}


.obe3 .select{
  text-align: center;
  margin-top: 0px
}



.obe3 .obe3body .page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.obe3 .obe3body .subpage {
  padding: 1cm;
  border: 5px white;
  height: 256mm;

}

.obe3 .obe3body .subpage .title1 {
  text-align: center;
  margin-top: 0px;
  font-size: 16px
}

.obe3 .obe3body .subpage .title2 {
  text-align: center;
  margin-top: 0px;
  font-size: 14px
}

.obe3 .obe3body .subpage .body {
  text-align: left;
  margin-top: -20px;
  font-size: 13px;
  line-height: 30px;

}

.obe3 .obe3body .subpage .body .table {
  border-spacing: 0;
  border: 0.5px solid black

}

.obe3 th {
  border-spacing: 0;
  border: 0.5px solid black

}


@page {
  size: A4;
  margin: 0;
}