.peopoapp-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  .peopoapp-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 0px;
  }
  
  .peopoapp-container .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .peopoapp-container th,
  .peopoapp-container .td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 4px;
    font-size: 11px;
  }
  
  .peopoapp-container .th {
    background-color: rgb(117, 201, 250);
  }
  
  .peopoapp-container .td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  } 

  
  .peopoapp-container .peopointapp {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
  }
  
  .peopoapp-container .peopointapp .openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }
  body {
    padding: 0;
    margin: 0;
  }
  
  
  
  .peopointmodalBackground {
    width: 80vh;
    height: 35vh;
  
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .peopointmodalContainer {
    width: 600px;
    height: 330px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .peopointmodalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 0px;
  }
  
  .peopointtitleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .peopointtitleCloseBtn button {
    background-color: transparent;
    border: on;
    font-size: 12px;
    cursor: pointer;
  }
  
  .peopointmodalContainer .body {
    flex: 50%;
    margin: -10px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: left;
  }

  .peopointmodalContainer .body .bodytitle1 {
    flex: 50%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
  
  }
  
  .peopointmodalContainer .body .bodytitle2 {
    flex: 50%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: underline;
  }
  
  .peopointmodalContainer .body .bodytext {
    flex: 50%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: left;
  }
  
  .peopointmodalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .peopointmodalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .peopointmodalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 30px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
  }